body {
  margin: 0;
}

.header {
  background-color: rgb(50, 100, 135);
  margin: 0;
  text-align: center;
  padding: 4rem 0;
  font-size: 3rem;
  color: white;
}

.instructions {
  width: 15rem;
  border: 2px solid grey;
  margin: 2rem auto;
  color: #777777;
}

.level-buttons,
.reset-btn-container {
  text-align: center;
}

button{
  border-radius: 0.2rem;
  border-width: 0;
  color: white;
  background-color: steelblue;
  padding: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.05rem #AAA;
}

button:hover {
  filter: brightness(115%);
  transform: scale(1.05);
}

.active-level {
  background-color: #b5cde1;
  color: #4f5122;
  font-weight: bold;
}

.reset-btn {
  background-color: #AAA;
  margin: 2rem 0;
  border-radius: 0;
}

.game-display {
  background-image: url(images/floor-tile.png);
  /* Background pattern from Toptal Subtle Patterns */
  padding-top: 1.7rem;
}

.score-text {
  width: 11rem;
  background-color: white;
  margin: 2rem auto;
  text-align: center;
  padding: 1.75rem;
  border-radius: 0.8rem;
  color: #666;
  font-weight: 300;
}

.row {
  text-align: center;
}

.card {
  width: 8rem;
  height: 4rem;
  padding: 3rem;
  display: inline-block;
  border-radius: 1rem;
  margin: 1rem;
  overflow: hidden;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem #555555;
}

.card:hover {
  box-shadow: 0.25rem 0.25rem 0.25rem 0.15rem #777777;
  transform: scale(1.08);
  filter: brightness(104%);
}

.card-front {
  /* Background pattern from Toptal Subtle Patterns */
  background-image:
  linear-gradient(to bottom right, rgba(137, 168, 93, 0.7),
   rgba(68, 94, 71, 0.7)),
    url(images/papyrus.png);
}

.card-back {
  background-color: steelblue;
}

.invisible {
  visibility: hidden;
}
